#top-panel{
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display:-webkit-flex;
  display:-webkit-flexbox;
  display:-ms-flex;
  display: flex;
  margin-bottom: 10px;
  -webkit-justify-content: space-around; 
  justify-content: space-around; 
}

#throttle-panel{
  margin-right: auto;
}

.throttle-wrapper{
  width: 180px;
}

.throttle-wrapper p,.atmospheric-density-wrapper p{
  font-size: 20px;
}

.throttle-wrapper .throttle{
  height: 20px;
}

#button-panel{
  margin-top: 10px;
  text-align: center;
}

#position-map{
  width: 500px;
}

#top-panel > div:last-child{
  margin-left: auto;
}

#bottom-panel{
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display:-webkit-flex;
  display:-webkit-flexbox;
  display:-ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#bottom-panel > div{
  margin-right: 10px;
}

#bottom-panel > div:last-child{
  margin-right: 0px;
}