---
title: 3D Orbital Map
---

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/3dmap.css" />
<% end %>

<div id="orbital-map-container" class="readout-display">
  <div id="orbital-map"></div>
</div>

<%= render 'orbital_map_shader' %>


<% content_for :dom_loaded do %>
  window.mapDatalink = new Telemachus(settings.getHost(), settings.getPort())
  window.mapDatalink.rate = 2000
  var orbitalPositionData = new OrbitalPositionData(window.mapDatalink)
  window.positionDataFormatter = new PositionDataFormatter(orbitalPositionData, window.mapDatalink)

  window.OrbitalMap = new OrbitalMap(positionDataFormatter, window.mapDatalink, "orbital-map")

<% end %>