---
title: Ascension Module
---

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/ascension.css" />
<% end %>

<div id="top-panel">
  <div id="throttle-and-map">
    <%= render 'throttle' %>

    <%= render 'map', :id => 'position-map' %>
  </div>

  <div id="resources" class="readout-display">
    <%= render 'resource_bar', :resource_name => "liquid-fuel", :resource_label => "Liquid Fuel", :current_stage => true %>

    <%= render 'resource_bar', :resource_name => "oxidizer", :resource_label => "Oxidizer", :current_stage => true %>
  </div>

  <div id="navigation-and-atmospheric-density" class="gauge">
    <%= render 'navball' %>
    <%= render 'atmospheric_density' %>
  </div>

  <%= render 'camera' %>

  <div id="ascension-data-and-button-panel">
    <table id="ascension-data" class="readout-display readout-table"></table>

    <div id="button-panel">
      <%= render 'button', :button_id => "rcs", :button_label => "RCS" %>
      <%= render 'button', :button_id => "sas", :button_label => "SAS" %>
      <%= render 'button', :button_id => "light", :button_label => "LGHT" %>
      <%= render 'button', :button_id => "gear", :button_label => "GEAR" %>
      <%= render 'button', :button_id => "brake", :button_label => "BRK" %>
    </div>
  </div>
</div>

<div class="readout-display">
  <%= render 'altitude_tracker_chart' %>
</div>

<% content_for :dom_loaded do %>
  window.navball = new Navball(window.datalink, 'navball', 'navball-heading')
  window.rcsButtonIndicator = new ButtonIndicator(datalink, 'rcs', 'v.rcsValue')
  window.sasButtonIndicator = new ButtonIndicator(datalink, 'sas', 'v.sasValue')
  window.lightButtonIndicator = new ButtonIndicator(datalink, 'light', 'v.lightValue')
  window.gearButtonIndicator = new ButtonIndicator(datalink, 'gear', 'v.gearValue')
  window.brakeButtonIndicator = new ButtonIndicator(datalink, 'brake', 'v.brakeValue')

  window.atmosphericDensityGauge = new AtmosphericDensityGauge(window.datalink, 'atmospheric-density')
  window.throttleGauge = new ThrottleGauge(window.datalink, 'throttle')

  window.altitudeTracker = new AltitudeTracker(datalink, 'altitude-tracker', {maxDataPoints : 50})

  window.positionMap = new PositionMap(datalink, 'position-map')

  window.liquidFuelMonitor = new ResourceMonitor(datalink, 'LiquidFuel', {
    currentStageProgressBar: $('liquid-fuel-current'),
    totalProgressBar: $('liquid-fuel-total')
  })

  window.oxidizerMonitor = new ResourceMonitor(datalink, 'Oxidizer', {
    currentStageProgressBar: $('oxidizer-current'),
    totalProgressBar: $('oxidizer-total')
  })

  window.readoutTable = new ReadoutTable(datalink, 'ascension-data', [
    {
      label: "Altitude",
      value: 'v.altitude',
      formatter: function(value){ return DataFormatters.distanceString(value) }
    },
    {
      label: "Apoapsis",
      value: 'o.ApA',
      formatter: function(value){ return DataFormatters.distanceString(value) }
    },
    {
      label: "Periapsis",
      value: 'o.PeA',
      formatter: function(value){ return DataFormatters.distanceString(value) }
    },
    {
      label: "Time to Apoapsis",
      value: 'o.timeToAp',
      formatter: function(value){ return "-" + TimeFormatters.durationString(value) }
    },
    {
      label: "Time to Periapsis",
      value: 'o.timeToPe',
      formatter: function(value){ return "-" + TimeFormatters.durationString(value) }
    },
    {
      label: "Height from Terrain",
      value: 'v.heightFromTerrain',
      formatter: function(value){
        return DataFormatters.heightFromTerrainString(value)
      }
    },
    {
      label: "Inclination",
      value: 'o.inclination',
      formatter: function(value){ return DataFormatters.degreeString(value) }
    },
    {
      label: "Orbital Velocity",
      value: 'v.orbitalVelocity',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    },
    {
      label: "Surface Velocity",
      value: 'v.surfaceVelocity',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    },
  ])

  window.cameraFeed = new CameraFeed(window.datalink, {
    cameraList: $('camera-list'),
    cameraListContainer: $('camera-selector-container'),
    showCameraList: $('show-camera-list'),
    cameraName: $('camera-name'),
    cameraImage: $('camera-image')
  })
<% end %>