---
title: Ascension Module
---

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/ascension.css" />
<% end %>

<div class="navigation-wrapper gauge">
  <div id="navball"></div>
  <div id="navball-heading"></div>
</div>

<div class="atmospheric-density-wrapper gauge">
  <progress id="atmospheric-density" class="atmospheric_density"></progress>
  <p>Atmosphere</p>
</div>

<div class="throttle-wrapper gauge">
  <span class="min">0</span>
  <span class="max">100</span>
  <progress id="throttle" class="throttle"></progress>
  <p>Throttle</p>
</div>

<% content_for :dom_loaded do %>
  window.navball = new Navball(window.datalink, 'navball', 'navball-heading')
  window.atmosphericDensityGauge = new AtmosphericDensityGauge(window.datalink, 'atmospheric-density')
  window.throttleGauge = new ThrottleGauge(window.datalink, 'throttle')
<% end %>