---
title: BOOST/EECOM
---

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/boost.css" />
<% end %>

<div id="top-panel">
  <div id="navigation-and-atmospheric-density" class="gauge">
    <%= render 'navball' %>
    <%= render 'atmospheric_density' %>
  </div>

  <div id="throttle-and-button-panel">
    <%= render 'throttle' %>

    <div id="button-panel">
      <%= render 'button', :button_id => "rcs", :button_label => "RCS" %>
      <%= render 'button', :button_id => "sas", :button_label => "SAS" %>
      <%= render 'button', :button_id => "light", :button_label => "LGHT" %>
      <%= render 'button', :button_id => "gear", :button_label => "GEAR" %>
      <%= render 'button', :button_id => "brake", :button_label => "BRK" %>
    </div>
  </div>

  <div id="resources" class="readout-display">
    <div class="resource-grid">
      <%= render 'resource_bar', :resource_name => "liquid-fuel", :resource_label => "Liquid Fuel", :current_stage => true, :show_totals => true %>

      <%= render 'resource_bar', :resource_name => "solid-fuel", :resource_label => "Solid Fuel", :current_stage => true, :show_totals => true %>

      <%= render 'resource_bar', :resource_name => "oxidizer", :resource_label => "Oxidizer", :current_stage => true, :show_totals => true %>

      <%= render 'resource_bar', :resource_name => "monopropellant", :resource_label => "Monopropellant", :current_stage => true, :show_totals => true %>

      <%= render 'resource_bar', :resource_name => "electric-charge", :resource_label => "Electric Charge", :current_stage => true, :show_totals => true %>

      <%= render 'resource_bar', :resource_name => "xenon-gas", :resource_label => "Xenon Gas", :current_stage => true, :show_totals => true %>
    </div>

    <div id="ablator-readout">
      <%= render 'resource_bar', :resource_name => "ablator", :resource_label => "Ablator", :show_totals => true %>
    </div>
  </div>
</div>

<div id="bottom-panel">
  <div class="readout-display">
    <h2>Flight Data</h2>
    <table id="flight-data" class="readout-table"></table>
  </div>

  <div class="readout-display">
    <%= render 'altitude_tracker_chart' %>
  </div>

  <div class="readout-display">
    <h2>Current Throttle Info</h2>
    <table id="current-stage-atmo" class="readout-table">
      <caption>Atmosphere</caption>
    </table>

    <table id="current-stage-vacuum" class="readout-table">
      <caption>Vacuum</caption>
    </table>
  </div>

  <div class="readout-display">
    <h2>Burn Planner</h2>
    <table id="burn-planner-table" class="readout-table">
      <tbody>
        <tr>
          <th>Stage</th>
          <td><input id='burn-planner-stage' type="number" min="0"></td>
        </tr>
        <tr>
          <th>Total Thrust</th>
          <td id="burn-planner-total-thrust"></td>
        </tr>
        <tr>
          <th>Starting Fuel</th>
          <td id="burn-planner-starting-fuel"></td>
        </tr>
        <tr>
          <td>
            <select id="burn-planner-mode">
              <option value="atmo">Atmo</option>
              <option value="vacuum">Vacuum</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Thrust %</th>
          <td><input id='burn-planner-throttle' type="number" min="0" max="100"></td>
        </tr>
        <tr>
          <th>Burn Time (sec)</th>
          <td><input id="burn-planner-burn-time" type="number" min="0"></td>
        </tr>
      </tbody>
      <tbody class="results">
        <tr>
          <th>&Delta;v</th>
          <td id="burn-planner-delta-v"></td>
        </tr>
        <tr>
          <th>TWR</th>
          <td id="burn-planner-twr"></td>
        </tr>
        <tr>
          <th>Remaining Fuel</th>
          <td id="burn-planner-remaining-fuel"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td id="burn-planner-warning"></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<% content_for :dom_loaded do %>
  window.navball = new Navball(window.datalink, 'navball', 'navball-heading')
  window.rcsButtonIndicator = new ButtonIndicator(datalink, 'rcs', 'v.rcsValue')
  window.sasButtonIndicator = new ButtonIndicator(datalink, 'sas', 'v.sasValue')
  window.lightButtonIndicator = new ButtonIndicator(datalink, 'light', 'v.lightValue')
  window.gearButtonIndicator = new ButtonIndicator(datalink, 'gear', 'v.gearValue')
  window.brakeButtonIndicator = new ButtonIndicator(datalink, 'brake', 'v.brakeValue')

  window.atmosphericDensityGauge = new AtmosphericDensityGauge(window.datalink, 'atmospheric-density')
  window.throttleGauge = new ThrottleGauge(window.datalink, 'throttle')

  window.altitudeTracker = new AltitudeTracker(datalink, 'altitude-tracker', {maxDataPoints : 50})

  window.liquidFuelMonitor = new ResourceMonitor(datalink, 'LiquidFuel', {
    currentStageProgressBar: $('liquid-fuel-current'),
    totalProgressBar: $('liquid-fuel-total'),
    valuePrefix: 'liquid-fuel'
  })

  window.solidFuelMonitor = new ResourceMonitor(datalink, 'SolidFuel', {
    currentStageProgressBar: $('solid-fuel-current'),
    totalProgressBar: $('solid-fuel-total'),
    valuePrefix: 'solid-fuel'
  })

  window.oxidizerMonitor = new ResourceMonitor(datalink, 'Oxidizer', {
    currentStageProgressBar: $('oxidizer-current'),
    totalProgressBar: $('oxidizer-total'),
    valuePrefix: 'oxidizer'
  })

  window.monopropellantMonitor = new ResourceMonitor(datalink, 'Monopropellant', {
    currentStageProgressBar: $('monopropellant-current'),
    totalProgressBar: $('monopropellant-total'),
    valuePrefix: 'monopropellant'
  })

  window.electricChargeMonitor = new ResourceMonitor(datalink, 'ElectricCharge', {
    currentStageProgressBar: $('electric-charge-current'),
    totalProgressBar: $('electric-charge-total'),
    valuePrefix: 'electric-charge'
  })

  window.ablatorMonitor = new ResourceMonitor(datalink, 'Ablator', {
    totalProgressBar: $('ablator-total'),
    valuePrefix: 'ablator'
  })

  window.ablatorMonitor = new ResourceMonitor(datalink, 'XenonGas', {
    currentStageProgressBar: $('xenon-gas-current'),
    totalProgressBar: $('xenon-gas-total'),
    valuePrefix: 'xenon-gas'
  })

  window.readoutTable = new ReadoutTable(datalink, 'flight-data', [
    {
      label: "Altitude",
      value: 'v.altitude',
      formatter: function(value){ return DataFormatters.distanceString(value) }
    },
    {
      label: "Height from Terrain",
      value: 'v.heightFromTerrain',
      formatter: function(value){
        return DataFormatters.heightFromTerrainString(value)
      }
    },
    {
      label: "Surface Velocity",
      value: 'v.surfaceVelocity',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    },
    {
      label: "Vertical Velocity",
      value: 'v.verticalSpeed',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    },
    {
      label: "Orbital Velocity",
      value: 'v.orbitalVelocity',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    },
    {
      label: "G-Force",
      value: 'v.geeForce',
      formatter: function(value){ return value.toFixed(3) }
    },
  ])

  window.currentStageBurnInfo = new CurrentStageBurnInfo(datalink, 'current-stage-atmo','current-stage-vacuum')

  window.burnPlanner = new BurnPlanner(datalink, {
    //control elements:
    stage: $('burn-planner-stage'),
    mode: $('burn-planner-mode'),
    throttle: $('burn-planner-throttle'),
    burnTime: $('burn-planner-burn-time'),

    //display elements:
    totalThrust: $('burn-planner-total-thrust'),
    startingFuel: $('burn-planner-starting-fuel'),
    deltaV: $('burn-planner-delta-v'),
    TWR: $('burn-planner-twr'),
    remainingFuel: $('burn-planner-remaining-fuel'),
    warning: $('burn-planner-warning'),
  })
<% end %>