---
title: Landing Module
---

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/landing.css" />
<% end %>

<div id="top-panel">
  <%= render 'map', :id => 'gt-map' %>

  <div id="navigation-and-atmospheric-density" class="gauge">
    <%= render 'navball' %>
    <%= render 'atmospheric_density' %>
  </div>

  <div id="throttle-and-button-readout">

    <div id="ablator-readout" class="readout-display">
      <%= render 'resource_bar', :resource_name => "ablator", :resource_label => "Ablator" %>
    </div>

    <div id="button-panel">
      <%= render 'button', :button_id => "rcs", :button_label => "RCS" %>
      <%= render 'button', :button_id => "sas", :button_label => "SAS" %>
      <%= render 'button', :button_id => "light", :button_label => "LGHT" %>
      <%= render 'button', :button_id => "gear", :button_label => "GEAR" %>
      <%= render 'button', :button_id => "brake", :button_label => "BRK" %>
    </div>

    <%= render 'throttle' %>
  </div>

  <div id="landing-data" class="readout-display">
    <table id="ascension-data" class="readout-table"></table>

    <div id="resources">
      <%= render 'resource_bar', :resource_name => "liquid-fuel", :resource_label => "Liquid Fuel", :current_stage => true %>

      <%= render 'resource_bar', :resource_name => "oxidizer", :resource_label => "Oxidizer", :current_stage => true %>
    </div>
  </div>
</div>

<div id="bottom-panel">
  <%= render 'camera' %>
  <div class="readout-display">
    <%= render 'altitude_tracker_chart' %>
  </div>
</div>

<% content_for :dom_loaded do %>
  window.navball = new Navball(window.datalink, 'navball', 'navball-heading')
  window.rcsButtonIndicator = new ButtonIndicator(datalink, 'rcs', 'v.rcsValue')
  window.sasButtonIndicator = new ButtonIndicator(datalink, 'sas', 'v.sasValue')
  window.lightButtonIndicator = new ButtonIndicator(datalink, 'light', 'v.lightValue')
  window.gearButtonIndicator = new ButtonIndicator(datalink, 'gear', 'v.gearValue')
  window.brakeButtonIndicator = new ButtonIndicator(datalink, 'brake', 'v.brakeValue')

  window.atmosphericDensityGauge = new AtmosphericDensityGauge(window.datalink, 'atmospheric-density')
  window.throttleGauge = new ThrottleGauge(window.datalink, 'throttle')

  window.altitudeTracker = new AltitudeTracker(datalink, 'altitude-tracker', {maxDataPoints : 50})

  window.groundTrackContainer = new GroundTrackContainer('gt-map', 'altitude-estimate-chart')

  window.liquidFuelMonitor = new ResourceMonitor(datalink, 'LiquidFuel', {
    currentStageProgressBar: $('liquid-fuel-current'),
    totalProgressBar: $('liquid-fuel-total')
  })

  window.oxidizerMonitor = new ResourceMonitor(datalink, 'Oxidizer', {
    currentStageProgressBar: $('oxidizer-current'),
    totalProgressBar: $('oxidizer-total')
  })

  window.ablatorMonitor = new ResourceMonitor(datalink, 'Ablator', {
    currentStageProgressBar: $('ablator-current'),
    totalProgressBar: $('ablator-total')
  })

  window.readoutTable = new ReadoutTable(datalink, 'ascension-data', [
    {
      label: "Altitude",
      value: 'v.altitude',
      formatter: function(value){ return DataFormatters.distanceString(value) }
    },
    {
      label: "Height from Terrain",
      value: 'v.heightFromTerrain',
      formatter: function(value){
        return DataFormatters.heightFromTerrainString(value)
      }
    },
    {
      label: "Surface Velocity",
      value: 'v.surfaceVelocity',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    },
    {
      label: "Vertical Speed",
      value: 'v.verticalSpeed',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    },
  ])

  window.cameraFeed = new CameraFeed(window.datalink, {
    cameraList: $('camera-list'),
    cameraListContainer: $('camera-selector-container'),
    showCameraList: $('show-camera-list'),
    cameraName: $('camera-name'),
    cameraImage: $('camera-image')
  })
<% end %>