---
title: SCIENCE
---

<% content_for :head do %>
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/science.css" />
<% end %>

<div id="top-panel">
  <div id="map-and-sensors">
    <div id="position-map" class="map readout-display"></div>

    <div class="readout-display">
      <h2>Sensor Info</h2>
      <table id="sensor-info" class="readout-table"></table>

      <%= render 'resource_bar', :resource_name => "ore", :resource_label => "Ore", :show_totals => true %>
    </div>
  </div>

  <div class="readout-display">
    <h2>Target Info</h2>
    <table id="target-info" class="readout-table"></table>
  </div>

  <div class="readout-display">
    <h2>Orbiting Body Info</h2>
    <table id="orbiting-body-info" class="readout-table"></table>
  </div>
</div>

<% content_for :dom_loaded do %>
  window.positionMap = new PositionMap(datalink, 'position-map')

  window.oreMonitor = new ResourceMonitor(datalink, 'Ore', {
    totalProgressBar: $('ore-total')
  })


  window.sensorInfoTable = new ReadoutTable(datalink, 'sensor-info', [
    {
      label: "Gravity Sensor",
      value: 's.sensor.grav',
      formatter: function(value){ return DataFormatters.accelerationSensorString(value) }
    },
    {
      label: "Acceleration Sensor",
      value: 's.sensor.acc',
      formatter: function(value){ return DataFormatters.accelerationSensorString(value) }
    },
    {
      label: "Pressure Sensor",
      value: 's.sensor.pres',
      formatter: function(value){ return DataFormatters.pressureSensorString(value) }
    },
    {
      label: "Temperature Sensor",
      value: 's.sensor.temp',
      formatter: function(value){ return DataFormatters.temperatureString(value[1][0]) }
    },
    {
      label: "G-Force",
      value: 'v.geeForce',
      formatter: function(value){ return value.toFixed(3) }
    },
  ])

  window.sensorInfoTable = new ReadoutTable(datalink, 'target-info', [
    {
      label: "Target Name",
      value: 'tar.name',
      formatter: function(value){ return value }
    },
    {
      label: "Target Type",
      value: 'tar.type',
      formatter: function(value){ return value }
    },
    {
      label: "Target Distance",
      value: 'tar.distance',
      formatter: function(value){ return DataFormatters.distanceString(value) }
    },
    {
      label: "Target's Orbiting Body",
      value: 'tar.o.orbitingBody',
      formatter: function(value){ return value }
    },
    {
      label: "Target Apoapsis",
      value: 'tar.o.ApA',
      formatter: function(value){ return DataFormatters.distanceString(value) }
    },
    {
      label: "Target Periapsis",
      value: 'tar.o.PeA',
      formatter: function(value){ return DataFormatters.distanceString(value) }
    },
    {
      label: "Target Time to Apoapsis",
      value: 'tar.o.timeToAp',
      formatter: function(value){ return "-" + TimeFormatters.durationString(value) }
    },
    {
      label: "Target Time to Periapsis",
      value: 'tar.o.timeToPe',
      formatter: function(value){ return "-" + TimeFormatters.durationString(value) }
    },
    {
      label: "Target Inclination",
      value: 'tar.o.inclination',
      formatter: function(value){ return DataFormatters.degreeString(value) }
    },
    {
      label: "Target Eccentricity",
      value: 'tar.o.eccentricity',
      formatter: function(value){ return value.toFixed(3) }
    },
    {
      label: "Target Orbital Period",
      value: 'tar.o.period',
      formatter: function(value){ return TimeFormatters.durationString(value) }
    },
    {
      label: "Target Velocity",
      value: 'tar.o.velocity',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    },
    {
      label: "Target Relative Velocity",
      value: 'tar.o.relativeVelocity',
      formatter: function(value){ return DataFormatters.velocityString(value) }
    }
  ])

  window.orbitingBodyInfoTable = new OrbitingBodyInfoTable(datalink, 'orbiting-body-info')
<% end %>