body{
  background: #9B9B9B
}

header,#content{
  padding:10px;
}

h1{
  /* Ground Track: */
  border: 0px solid #000000;
  font-family: AeroMaticsDisplayBold;
  font-size: 55px;
  color: #4A4A4A;
  margin: 0px;
  margin: auto;
}

.readout-display{
  background: #3A1604;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
  color: #FD7E23;
  font-family: PTMono-Bold;
  padding: 5px;
}

.readout-display h2{
  text-align: center;
}

.resource-readout progress{
  height: 14px;
  border: 1px solid #FD7E23;
  border-radius: 3px;
}

.resource-readout progress[value]::-webkit-progress-bar{
  background: none;
}

.resource-readout progress[value]::-webkit-progress-value{
  background-color: #F5A623;
  border-right: 1px solid #FD7E23;
}

.readout-table th{
  text-align: left;
}

.readout-table td{
  text-align: right;
}

button.status{
  width: 50px;
  height: 50px;
  /* RCS: */
  font-family: AeroMaticsDisplayBold;
  font-size: 24px;
  color: #666666;
  text-align: center;
  padding: 0;

  border: 3px solid #4A4A4A;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 3px;

  background-color: #FFFFFF;
  background-image: linear-gradient(-180deg, #747474 50%, rgba(0,0,0,0.50) 100%);
}

button.status.on{
  background-image: radial-gradient(70% 70%, rgba(255,255,255,0.50) 39%, rgba(0,0,0,0.50) 100%);
}

button#rcs{
  color: #417505;
}

button#sas{
  color: #19314D
}

button#rcs.on{
  background-color: #7ED321;
}

button#sas.on{
  /* SAS: */
  color: #4A90E2;
}


#title-bar{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

#title-bar > h1, #title-bar > div{
  vertical-align: middle;
}

#mission-time-warp-indicator, #world-clock{
  padding: 10px;
  font-size: 24px;
}

#mission-time-warp-indicator{
  /*width: 459px;*/
}

.readout-display .ct-line, .readout-display .ct-point{
  stroke: #FD7E23;
}

.readout-display .ct-grid{
  stroke: rgba(253, 126, 35, .5);
}

.readout-display .ct-label{
  color: #FD7E23;
  fill: #FD7E23;
}