.leaflet-container {
    cursor: crosshair;
}

.leaflet-control-legend, .leaflet-control-info {
    background: #f8f8f9;
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	padding: 8px 12px 8px 12px;
	display: none;
}

.leaflet-control-legend-visible, .leaflet-control-info-visible {
	display: block;
}

.leaflet-control-legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.leaflet-control-celestialbodies {
	z-index: 10;
}

.leaflet-control-celestialbodies-toggle,
.leaflet-control-celestialbodies-list,
.leaflet-control-celestialbodies-list ul {
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	background: #fff;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}

.leaflet-control-celestialbodies-toggle {
	background: #f8f8f9;
	background-image: url("http://static.kerbalmaps.com/images/body-unknown.png");
	background-size: 26px 26px;
	background-position:center;
	background-repeat:no-repeat;
	display: block;
	width: 36px;
	height: 36px;
}

.leaflet-control-celestialbodies-list {
	height: 36px; /* forces container to have layout */
}

.leaflet-control-celestialbodies-list > li > ul{
	-webkit-border-radius: 0px 0px 8px 8px;
	   -moz-border-radius: 0px 0px 8px 8px;
	        border-radius: 0px 0px 8px 8px;
}

.leaflet-control-celestialbodies .leaflet-control-celestialbodies-list,
.leaflet-control-celestialbodies-expanded .leaflet-control-celestialbodies-toggle {
	display: none;
}

.leaflet-control-celestialbodies-expanded .leaflet-control-celestialbodies-list {
	display: block;
}

.leaflet-control-celestialbodies-list,
.leaflet-control-celestialbodies-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.leaflet-control-celestialbodies-list li {
	position: relative;
	line-height: 0;
	width: 36px;
	height: 36px;
}

.leaflet-control-celestialbodies-list > li {
	float: left;
}

.leaflet-control-celestialbodies-list > li ul {
	display: none;
	position: relative;
	z-index: -1;
}

.leaflet-control-celestialbodies-list > li:hover ul {
	display: block
}

.leaflet-control-celestialbodies-list img {
	height: 26px;
    width: 26px;
    margin: 1px;
    padding: 4px;
}

.leaflet-control-celestialbodies-list img.disabled {
	opacity: 0.4;
	filter: alpha(opacity=40); /* For IE8 and earlier */
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
    background-color: #cccccc;
}

.leaflet-control-celestialbodies-flag {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 7px 3px;
	pointer-events: none;
	color: #fff;
    font-family: 'Roboto', Verdana, Geneva, sans-serif;
    font-size: 9px;
    font-weight: 900;
    letter-spacing: -0.2em;
    background-color: #3097e2;
    text-shadow: 0 1px #82c7f9,
                 0 -1px #1076c0;
    -webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
    box-shadow: 1px 1px 0 #82c7f9 inset,
                -1px -1px 0 #1076c0 inset,
                0 1px 3px rgba(0,0,0,0.4);
}

.leaflet-control-celestialbodies-flag-orange {
	background-color: #ffa514;
    text-shadow: 0 1px #ffc05b,
                 0 -1px #c97c00;
    -webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
    box-shadow: 1px 1px 0 #ffc05b inset,
                -1px -1px 0 #c97c00 inset,
                0 1px 3px rgba(0,0,0,0.4);
}

.leaflet-control-info .latlng {
	display: inline-block;
	text-align: right;
}

.leaflet-control-info .latlng table {
	text-align: right;
	font-size: 1em;
}

.leaflet-control-info .latlng-format {
	display: inline-block;
	font-size: 0.75em;
	margin-bottom: 1em;
}
