<div id="camera" class="camera gauge">
  <div class="readout-display">
    <div id="camera-selector-container" class="camera-selector hidden">
      <h2>Cameras</h2>
      <ul id="camera-list" class="camera-list">
      </ul>
    </div>
    <div class="camera-display">
      <h2 id="camera-name"></h2>
      <div class='camera-image-wrapper scanlines'>
        <img id="camera-image"/>
      </div>
    </div>
  </div>
  <div class="camera-list-button-wrapper">
    <button id='show-camera-list'>Choose Camera</button>
  </div>
</div>