<!DOCTYPE html>
<html>
<head>
  <title><%= @item[:title] %></title>
  <% asset_name = @item.identifier.chop[1..-1] %>
  <% if has_javascript_sourcetree? asset_name %>
    <%= include_javascripts asset_name %>
  <% else %>
    <%= include_javascripts :app %>
  <% end %>

  <script src="../assets/js/action_button.js"></script>

  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/chartist.min.css" />
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/leafletksp.css" />
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/camera_module.css" />
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css" />

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../assets/icons/<%= @item.identifier %>/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/icons/<%= @item.identifier %>/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/icons/<%= @item.identifier %>/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/icons/<%= @item.identifier %>/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../assets/icons/<%= @item.identifier %>/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../assets/icons/<%= @item.identifier %>/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../assets/icons/<%= @item.identifier %>/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../assets/icons/<%= @item.identifier %>/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="../assets/icons/<%= @item.identifier %>/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="../assets/icons/<%= @item.identifier %>/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="../assets/icons/<%= @item.identifier %>/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../assets/icons/<%= @item.identifier %>/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="../assets/icons/<%= @item.identifier %>/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="../assets/icons/<%= @item[:title] %>"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="../assets/icons/<%= @item.identifier %>/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="../assets/icons/<%= @item.identifier %>/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="../assets/icons/<%= @item.identifier %>/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="../assets/icons/<%= @item.identifier %>/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="../assets/icons/<%= @item.identifier %>/mstile-310x310.png" />


  <%= content_for(@item, :head) %>
</head>
<body>
  <div id="open-navigation"><a href="#">&darr; Open</a></div>
  <nav>
    <div id="close-navigation"><a href="#">&uarr; Close Navigation</a></div>

    <div id="overlay-grid">
      <figure>
        <figcaption>FIDO</figcaption>
        <ul>
          <%= render 'nav_item', :nav_item => 'ascension', :nav_title => "Ascension", :nav_url => '../ascension/index.html' %>
          <%= render 'nav_item', :nav_item => 'navigation', :nav_title => "Navigation", :nav_url => '../navigation/index.html' %>
          <%= render 'nav_item', :nav_item => 'landing', :nav_title => "Landing", :nav_url => '../landing/index.html' %>
          <%= render 'nav_item', :nav_item => 'docking', :nav_title => "Docking", :nav_url => '../docking/index.html' %>
        </ul>
      </figure>

      <figure>
        <figcaption>BOOST/EECOM</figcaption>
        <ul>
          <%= render 'nav_item', :nav_item => 'boost', :nav_title => "BOOST/EECOM", :nav_url => '../boost/index.html' %>
        </ul>
      </figure>

      <figure>
        <figcaption>SYSOPS</figcaption>
        <ul>
          <%= render 'nav_item', :nav_item => 'sysops', :nav_title => "SYSOPS", :nav_url => '../sysops/index.html' %>
          <%= render 'nav_item', :nav_item => 'map', :nav_title => "Orbital Map", :nav_url => '../3dmap/index.html' %>
        </ul>
      </figure>

      <figure>
        <figcaption>CAPCOM</figcaption>
        <ul>
          <%= render 'nav_item', :nav_item => 'vessel-overview', :nav_title => "Vessel Overview", :nav_url => '../vessel-overview/index.html' %>
          <%= render 'nav_item', :nav_item => 'map', :nav_title => "Orbital Map", :nav_url => '../3dmap/index.html' %>
        </ul>
      </figure>

      <figure>
        <figcaption>TOOLS</figcaption>
          <ul>
            <%= render 'nav_item', :nav_item => 'ground-track', :nav_title => "Ground Track", :nav_url => '../ground-track/index.html' %>
            <%= render 'nav_item', :nav_item => 'map', :nav_title => "Orbital Map", :nav_url => '../3dmap/index.html' %>
            <%= render 'nav_item', :nav_item => 'mission-wall', :nav_title => "Mission Wall", :nav_url => '../mission-wall/index.html' %>

            <%= render 'nav_item', :nav_item => 'camera', :nav_title => "Camera Feed", :nav_url => '../camera/index.html' %>

            <%= render 'nav_item', :nav_item => 'staging-analysis', :nav_title => "Staging Analysis", :nav_url => '../staging-analysis/index.html' %>
            <%= render 'nav_item', :nav_title => "Telemachus Console", :nav_url => '/telemachus/console.html', :id => 'telemachus-console', :nav_item => "telemachus", :image_name => "telemachus-preview.png" %>

            <%= render 'nav_item', :nav_title => "MKON", :nav_url => '/telemachus/MKON/index.html', :id => 'mkon', :nav_item => "mkon", :image_name => "mkon-preview.png" %>

            <%= render 'nav_item', :nav_title => "Settings", :nav_url => '#settings', :id => 'settings-link', :nav_item => "settings" %>
          </ul>
      </figure>
    </div>
  </nav>

  <section id="settings_overlay" >
    <form id="settings">
      <h2>Settings</h2>
      <fieldset>
        <label for="host">Host</label>
        <input name="host" id="host" type="text" placeholder="localhost"/><br>

        <label for="port">Port</label>
        <input name="port" id="port" type="text" placeholder="8085"/>
      </fieldset>

      <button type="submit">Save &amp; Close</button>
    </form>
  </section>

  <div id="station">
    <header id="title-bar">
      <div id="mission-time-warp-indicator" class="readout-display">
        <span id="mission-time">T+12:34:14 MET</span>
      </div>

      <h1><%= @item[:title] %></h1>

      <div id="world-clock" class="readout-display">
        Year 1, Day 1 00:23:13 UT
      </div>
    </header>

    <div id="content">
      <%= yield %>
    </div>
  </div>


  <script>

  $(document).observe("dom:loaded", function() {
    window.settings = new Settings(window.location.hostname, window.location.port)
    $('settings')['host'].value = settings.getHost()
    $('settings')['port'].value = settings.getPort()

    function updateTelemachusAndMKONLinks(){
      var baseURL = "http://" + settings.getHost() + ":" + settings.getPort()
      $('telemachus-console').down('a').href = baseURL + "/telemachus/console.html"
      $('mkon').down('a').href = baseURL + "/telemachus/MKON/index.html"
    }

    updateTelemachusAndMKONLinks()

    $('settings-link').observe('click', function(e){
      e.preventDefault()
      $('settings_overlay').addClassName('open')
    })

    $('settings').observe('submit', function(e){
      e.preventDefault();
      var form = e.target
      window.settings.setHost(form['host'].value)
      window.settings.setPort(form['port'].value)

      window.datalink.updateConnection(
        window.settings.getHost(),
        window.settings.getPort()
      )

      updateTelemachusAndMKONLinks()

      $('settings_overlay').removeClassName('open')
    })

    window.datalink = new Telemachus(settings.getHost(), settings.getPort())
    window.titleBar = new TitleBar(datalink, 'title-bar')

    var toggleNavigation = function(e){
      var nav = $$('nav')[0]
      nav.toggleClassName('open')
    }

    $('open-navigation').observe("click", toggleNavigation)
    $('close-navigation').observe("click", toggleNavigation)

    <%= content_for(@item, :dom_loaded) %>
  })

  </script>
</body>
</html>