<!DOCTYPE html>
<html>
<head>
  <title><%= @item[:title] %></title>
  <script src="../assets/js/math_polyfill.js"></script>
  <script src="../assets/js/numeric.js"></script>
  <script src="../assets/js/numeral.min.js"></script>
  <script src="../assets/js/chartist.min.js"></script>
  <script src="../assets/js/time_formatters.js"></script>
  <script src="../assets/js/data_formatters.js"></script>
  <script src="../assets/js/prototype.js"></script>
  <script src="../assets/js/leaflet.ksp.js"></script>
  <script src="../assets/js/L.Graticule.js"></script>
  <script src="../assets/js/three.min.js"></script>
  <script src="../assets/js/tween.min.js"></script>

  <script src="../assets/js/telemachus.js"></script>
  <script src="../assets/js/orbital_math.js"></script>

  <script src="../assets/js/title_bar.js"></script>
  <script src="../assets/js/button_indicator.js"></script>
  <script src="../assets/js/readout_table.js"></script>
  <script src="../assets/js/resource_monitor.js"></script>
  <script src="../assets/js/ground_track.js"></script>
  <script src="../assets/js/position_map.js"></script>
  <script src="../assets/js/navball.js"></script>
  <script src="../assets/js/atmospheric_density_gauge.js"></script>
  <script src="../assets/js/throttle_gauge.js"></script>
  <script src="../assets/js/altitude_tracker.js"></script>

  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/chartist.min.css" />
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/leafletksp.css" />
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css" />

  <%= content_for(@item, :head) %>
</head>
<body>
  <header id="title-bar">
    <div id="mission-time-warp-indicator" class="readout-display">
      <span id="mission-time">T+12:34:14 MET</span>
    </div>

    <h1><%= @item[:title] %></h1>

    <div id="world-clock" class="readout-display">
      Year 1, Day 1 00:23:13 UT
    </div>
  </header>

  <div id="content">
    <%= yield %>
  </div>


  <script>

  $(document).observe("dom:loaded", function() {
    window.datalink = new Telemachus("192.168.1.10", "8085")
    window.titleBar = new TitleBar(datalink, 'title-bar')
    <%= content_for(@item, :dom_loaded) %>
  })

  </script>
</body>
</html>