<div id="<%= @resource_name %>" class="resource-readout">
  <p><%= @resource_label %></p>

  <% if @current_stage %>
    <div>
      <span class="label">Current Stage</span><br>
      <% if @show_totals %>
        <div class="totals">
          <span id="<%= @resource_name %>-current-stage-value">0</span>/<span id="<%= @resource_name %>-current-stage-max">100</span>
        </div>
      <% end %>
      <progress id="<%= @resource_name %>-current" value="0" max="0">0%</progress>
    </div>
  <% end %>

  <div>
    <% if @current_stage %>
      <span class="label">Total</span><br>
    <% end %>
    <% if @show_totals %>
      <div class="totals">
        <span id="<%= @resource_name %>-total-value">0</span>/<span id="<%= @resource_name %>-total-max">100</span>
      </div>
    <% end %>
    <progress id="<%= @resource_name %>-total" value="0" max="0">0%</progress>
  </div>
</div>